<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>State:</b>
  <%= @article.state %>
</p>

<p>
  <b>Published at:</b>
  <%= @article.published_at %>
</p>

<%- if @article.draft? -%>
  <%= link_to 'Publish!', publish_article_path(@article), method: :put %> |
<%- end -%>
<%- if @article.published? -%>
  <%= link_to '_Un_Publish!', unpublish_article_path(@article), method: :put %> |
<%- end -%>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
