<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>State:</b>
  <%= @article.state %>
</p>

<p>
  <b>Owner:</b>
  <%= @article.owner %>
</p>

<p>
  <b>Published at:</b>
  <%= @article.published_at %>
</p>

<p>
  <ul>
    <%- @article.histories.all.each do |history| -%>
    <li><%= history.created_at %> | <%= history.owner %> : <%= history.previous_state %> => <%= history.state %></li>
    <%- end -%>
  </ul>
</p>

<%- if @article.can_publish? -%>
  <%= link_to 'Publish!', publish_article_path(@article), method: :put %> |
<%- end -%>
<%- if @article.can_unpublish? -%>
  <%= link_to '_Un_Publish!', unpublish_article_path(@article), method: :put %> |
<%- end -%>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
